<div class="bg-light mnhytBg">
  <div class="container-fluid py-3">
    <div class="row justify-content-center mt-4">
      <div class="col-sm-4">
        <div class="card shadow-none">
          <div class="card-body">
            <form #loginForm="ngForm" (ngSubmit)="login()">
              <div class="row gy-3">
                <div class="col-sm-12">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Enter email" required email ngModel name="email"
                    #email="ngModel">
                  <small class="text-danger" *ngIf="!email.valid && email.touched">Please enter a valid email</small>
                </div>
                <div class="col-sm-12">
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="Enter password" required ngModel
                    name="password" #password="ngModel">
                  <small class="text-danger" *ngIf="!password.valid && password.touched">Please enter a valid
                    password</small>
                </div>
                <div class="col-sm-12 text-center">
                  <button class="btn btn-success btn-sm" type="submit" [disabled]="!loginForm.valid">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
