<div class="row justify-content-center mt-2">
  <div class="col-sm-6">
    <div class="card shadow-none">
      <div class="card-body">
        <form #sendOtpForm="ngForm" (ngSubmit)="sendOtp()" *ngIf="!otpSent && !otpVerified">
          <div class="row gy-3">
            <div class="col-sm-12">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Enter email" required email ngModel name="email"
                #email="ngModel">
              <small *ngIf="!email.valid && email.touched">Please enter a valid email</small>
            </div>
            <div class="col-sm-12 text-center">
              <button class="btn btn-success btn-sm" type="submit">Send OTP</button>
            </div>
          </div>
        </form>
        <form #verifyOtpForm="ngForm" (ngSubmit)="verifyOtp()" *ngIf="otpSent && !otpVerified">
          <div class="row gy-3">
            <div class="col-sm-12">
              <label>OTP</label>
              <input type="text" class="form-control" placeholder="Enter the 6-digit otp" required ngModel name="otp"
                #otp="ngModel">
            </div>
            <div class="col-sm-12 text-center">
              <button class="btn btn-success btn-sm" type="submit">Verify OTP</button>
            </div>
          </div>
        </form>
        <form #setPasswordForm="ngForm" (ngSubmit)="setPassword()" *ngIf="otpVerified">
          <div class="row gy-3">
            <div class="col-sm-12">
              <label>New Password</label>
              <input type="text" class="form-control" placeholder="Enter a new password" required ngModel name="newPass"
                #newPass="ngModel">
            </div>
            <div class="col-sm-12">
              <label>Confirm Password</label>
              <input type="text" class="form-control" placeholder="Confirm password" required ngModel name="cnfmPass"
                #cnfmPass="ngModel">
            </div>
            <div class="col-sm-12 text-center">
              <button class="btn btn-success btn-sm" type="submit">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>