<app-header></app-header>
<main>
  <div class="container mnwidth90plus py-3">
    <section class="sectionthree mb-2">
      <div class="container-fluid">
        <div class="card shadow-none">
          <div class="card-header bg-white d-flex justify-content-between">
            <h5 class="mb-0 fs-6">Male Topwear Collections</h5>
            <a href="javascript:void(0)" class="link-theme font600">See All
              <i class="bi bi-chevron-right"></i></a>
          </div>
          <div class="card-body">
            <div class="row row-cols-lg-5 row-cols-2 gy-2">
              <div class="col mb-0" *ngFor="let prod of mensTopwearColl5">
                <a href="javascript:void(0)" class="text-decoration-none">
                  <div class="card shadow-none rounded-0 h-100">
                    <div class="product-img"><img alt="product_name"
                        src="https://5.imimg.com/data5/ANDROID/Default/2022/3/VX/VQ/IN/129039116/img-20220327-wa0039-jpg.jpg"
                        class="img-fluid"></div>
                    <div class="card-body h-100">
                      <h4 class="mb-1 productprice">₹ {{prod.price}}</h4>
                      <p class="font9 productdesc mb-0">{{prod.brand_name}}</p>
                      <h6 class="font600 mb-1">{{prod.product_name}}</h6>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sectionthree mb-0">
      <div class="container-fluid">
        <div class="card shadow-none">
          <div class="card-header bg-white d-flex justify-content-between">
            <h5 class="mb-0 fs-6">Female Footwear Collections</h5>
            <a href="javascript:void(0)" class="link-theme font600">See All <i class="bi bi-chevron-right"></i></a>
          </div>
          <div class="card-body">
            <div class="row row-cols-lg-5 row-cols-2 gy-2">
              <div class="col mb-0" *ngFor="let women of womensTopwearColl5">
                <a href="javascript:void(0)" class="text-decoration-none">
                  <div class="card shadow-none rounded-0 h-100">
                    <div class="product-img"><img alt="product_name"
                        src="https://5.imimg.com/data5/ANDROID/Default/2022/3/VX/VQ/IN/129039116/img-20220327-wa0039-jpg.jpg"
                        class="img-fluid"></div>
                    <div class="card-body h-100">
                      <h4 class="mb-1 productprice">₹ {{women.price}}</h4>
                      <p class="font9 productdesc mb-0">{{women.brand_name}}</p>
                      <h6 class="font600 mb-1">{{women.product_name}}</h6>
                    </div>
                  </div>
                </a>
              </div>
              <!-- <div class="col mb-0 h-100"><a href="javascript:void(0)" class="text-decoration-none">
                  <div class="card shadow-none rounded-0">
                    <div class="product-img"><img alt="product_name"
                        src="https://5.imimg.com/data5/ANDROID/Default/2022/3/VX/VQ/IN/129039116/img-20220327-wa0039-jpg.jpg"
                        class="img-fluid"></div>
                    <div class="card-body">
                      <h4 class="mb-1 productprice">₹4990</h4>
                      <h6 class="font600 mb-1">Puma Shoes</h6>
                      <p class="font9 productdesc mb-0">This is just for the test description</p>
                    </div>
                  </div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>