<div class="row justify-content-center">
  <div class="col-sm-10">
    <div class="card">
      <div class="card-body">
        <form #empForm="ngForm" (ngSubmit)="addEmployee()">
          <div class="row gy-3">
            <div class="col-sm-4">
              <label>Name<span class="ms-1 text-danger">*</span> </label>
              <input name="name" ngModel type="text" class="form-control" placeholder="Employee's Name" required
                #name="ngModel" max="40" maxlength="40">
              <small *ngIf="!name.valid && name.touched" class="text-danger">Please provide a name</small>
            </div>
            <div class="col-sm-4">
              <label>Phone<span class="ms-1 text-danger">*</span></label>
              <input name="phone" ngModel type="text" placeholder="Employee's Phone Number" class="form-control"
                appNumericOnly required #phone="ngModel" minlength="10" maxlength="10" min="10" max="10">
              <small *ngIf="!phone.valid && phone.touched" class="text-danger">Please enter a valid
                number</small>
            </div>
            <div class="col-sm-4">
              <label>Email ID<span class="ms-1 text-danger">*</span></label>
              <input name="email" ngModel type="email" placeholder="Employee's Email ID" class="form-control" email
                required #email="ngModel">
              <small *ngIf="!email.valid && email.touched" class="text-danger">Please enter a valid email id</small>
            </div>
            <div class="col-sm-4">
              <label>Gender<span class="ms-1 text-danger">*</span></label>
              <select name="gender" ngModel class="form-select" required #gender="ngModel">
                <option value="undefined" selected disabled>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Sochke Batata hu">Sochke Batata hu</option>
                <option value="Others">Others</option>
              </select>
              <small *ngIf="!gender.valid && gender.touched" class="text-danger">Please select a valid gender</small>
            </div>
            <div class="col-sm-4">
              <label>Date of Joining<span class="ms-1 text-danger">*</span></label>
              <input name="doj" ngModel type="date" class="form-control" placeholder="Employee's DOJ" required
                #doj="ngModel">
              <small *ngIf="!doj.valid && doj.touched" class="text-danger">Please select a valid date of joining</small>
            </div>
            <div class="col-sm-4">
              <label>Date of Birth<span class="ms-1 text-danger">*</span></label>
              <input name="dob" ngModel type="date" placeholder="Employee's DOB" class="form-control" required
                #dob="ngModel">
              <small *ngIf="!dob.valid && dob.touched" class="text-danger">Please select a valid date of birth</small>
            </div>

            <div class="col-sm-4">
              <label>Department<span class="ms-1 text-danger">*</span></label>
              <select name="department" class="form-select" ngModel required #department="ngModel">
                <option value="null" selected disabled>Select Department</option>
                <option value="Engineering">Engineering</option>
                <option value="Human Resources">Human Resources</option>
                <option value="Manager">Manager</option>
                <option value="Designing">Designing</option>
              </select>
              <small *ngIf="!department.valid && department.touched" class="text-danger">Please select a valid
                department</small>
            </div>

            <div class="col-sm-4">
              <label>Designation<span class="ms-1 text-danger">*</span></label>
              <select name="designation" class="form-select" ngModel required #desig="ngModel">
                <option value="null" selected disabled>Select Designation</option>
                <option *ngIf="department.value==='Human Resources'" value="HR Manager">HR Manager</option>
                <option *ngIf="department.value==='Engineering'" value="Front End Developer">Front End Developer
                </option>
                <option *ngIf="department.value==='Engineering'" value="Back End Developer">Back End Developer</option>
                <option *ngIf="department.value==='Engineering'" value="Fullstack Developer">Fullstack Developer
                </option>
                <option *ngIf="department.value==='Manager'" value="Project Manager">Project Manager
                </option>
                <option *ngIf="department.value==='Designing'" value="UI Developer">UI Developer
                </option>
              </select>
              <small *ngIf="!desig.valid && desig.touched" class="text-danger">Please select a valid designation</small>
            </div>
            <div class="col-sm-4">
              <label>Address</label>
              <input name="address" type="text" class="form-control" ngModel placeholder="Employee's Address"
                #address="ngModel">
            </div>
          </div>
          <div class="text-center mt-4 mb-2">
            <button class="btn btn-sm btn-success" type="submit" [disabled]="!empForm.valid">Add Employee</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
