/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/styles//ag-grid.css";
@import "~ag-grid-community/styles//ag-theme-quartz.css";
.table-responsive {
  white-space: pre;
}
.font9 {
  font-size: 0.9rem;
}
.mnwidth90plus {
  min-width: 96vw;
}
.font600 {
  font-weight: 600;
}
.font-theme {
  color: #45bbb6;
}
.btn-theme:disabled {
  background-color: #45bbb6 !important;
  color: #fff !important;
  opacity: 0.5 !important;
}
.btn-theme {
  background-color: #45bbb6;
  color: #fff;
}
.btn-theme:hover {
  background-color: #39dad2;
  color: #fff;
}
.btn-theme:active {
  background-color: #39dad2 !important;
  color: #fff !important;
}
.btn-theme:focus-visible {
  background-color: #39dad2 !important;
  color: #fff !important;
}
