<div class="text-end">
  <button class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#addProdModal">Add Product</button>
</div>
<div class="row justify-content-center mt-2">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Price</th>
            <th>Category Name</th>
            <th>Type Category Name</th>
            <th>Group Category Name</th>
            <th>Created Date</th>
            <th>Updated Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of products;let i=index">
            <td>{{i+1}}</td>
            <td>{{prod.product_name}}</td>
            <td>{{prod.product_description}}</td>
            <td>{{prod.price}}</td>
            <td>{{prod.category_name}}</td>
            <td>{{prod.type_category_name}}</td>
            <td>{{prod.group_category_name}}</td>
            <td>{{prod.created_date|date }}</td>
            <td>{{prod.updated_date|date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="addProdModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-end">
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <form #productForm="ngForm" (ngSubmit)="addProduct()">
          <div class="row gy-3 align-items-center">
            <div class="col-sm-6">
              <label>Group Category</label>
              <select class="form-select" name="grp_cat_id" #grp_cat_id ngModel (change)="selectGrpCat()" required>
                <option value="null" selected disabled>Select Group Category</option>
                <option *ngFor="let cat of product_group_categories" [value]="cat.group_category_id">
                  {{cat.group_category_name}}</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label>Type Category</label>
              <select class="form-select" name="type_cat_id" #type_cat_id ngModel (change)="selectTypeCat()" required>
                <option value="null" selected disabled>Select Type Category</option>
                <option *ngFor="let cat of product_type_categories" [value]="cat.type_category_id">
                  {{cat.type_category_name}}</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label>Category</label>
              <select class="form-select" name="cat_id" #cat_id ngModel required>
                <option value="null" selected disabled>Select Category</option>
                <option *ngFor="let cat of product_categories" [value]="cat.category_id">
                  {{cat.category_name}}</option>
              </select>
            </div>

            <div class="col-sm-6">
              <label>Product Name</label>
              <input name="prod_name" class="form-control" type="text" ngModel #prod_name
                placeholder="Enter product name" required>
            </div>
            <div class="col-sm-6">
              <label>Product Price (in INR)</label>
              <input name="prod_price" class="form-control" type="text" ngModel #prod_price
                placeholder="Enter product price" required>
            </div>
            <div class="col-sm-6">
              <div class="form-check">
                <input name="isActive" class="form-check-input" type="checkbox" ngModel id="flexCheckChecked" checked
                  #isActive>
                <label class="form-check-label" for="flexCheckChecked">
                  Is active
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <label>Product Description</label>
              <textarea name="prod_desc" class="form-control" ngModel #prod_desc placeholder="Write product description"
                required></textarea>
            </div>
            <div class="col-sm-12 text-center">
              <button type="button" class="btn btn-danger btn-sm me-1" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-success btn-sm" data-bs-dismiss="modal"
                [disabled]="!productForm.valid">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
