<app-header></app-header>
<div class="bg-light mnhytBg">
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-sm-4">
        <div class="card shadow-none">
          <div class="card-body">
            <ul class="myList">
              <li>
                <a href="javascript:void(0)" routerLink="/manage-group-category" class="text-dark text-decoration-none">
                  -> Manage Group Category</a>
              </li>
              <li>
                <a href="javascript:void(0)" routerLink="/manage-type-category" class="text-dark text-decoration-none">
                  -> Manage Type Category</a>
              </li>
              <li>
                <a href="javascript:void(0)" routerLink="/manage-category" class="text-dark text-decoration-none"> ->
                  Manage Category</a>
              </li>
              <li>
                <a href="javascript:void(0)" routerLink="/manage-product" class="text-dark text-decoration-none"> ->
                  Manage Products</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>