<div class="row justify-content-center">
  <div class="col-sm-12">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="row gy-3">
        <div class="col-sm-12">
          <label>Email</label>
          <input autocomplete="false" type="email" class="form-control" placeholder="Enter email" required email ngModel
            name="email" #email="ngModel">
          <small class="text-danger" *ngIf="!email.valid && email.touched">Please enter a valid email</small>
        </div>
        <div class="col-sm-12">
          <label>Password</label>
          <input autocomplete="false" type="password" class="form-control" placeholder="Enter password"
            autocomplete="false" required ngModel name="password" #password="ngModel">
          <small class="text-danger" *ngIf="!password.valid && password.touched">Please enter a valid
            password</small>
        </div>
        <div class="col-sm-12 text-center">
          <button class="btn btn-theme px-5 rounded-0 btn-sm" type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>
      </div>
    </form>
    <div class="row mt-2">
      <div class="col-sm-12 text-center">
        <p class="mb-0">
          Don't have an account yet?
          <a href="javascript:void(0)" class="text-decoration-none font600" (click)="navToSignup()">Register Now</a>
        </p>
      </div>
    </div>
  </div>
</div>
