<div class="table-responsive">
  <table class="table table-bordered table-hover mb-0">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Designation</th>
        <th>Department</th>
        <th>Date of Joining</th>
        <th>Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of all_employees">
        <td>{{emp.emp_id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.address}}</td>
        <td>{{emp.designation}}</td>
        <td>{{emp.department}}</td>
        <td>{{emp.joining_date | date}}</td>
        <td>{{emp.dob | date}}</td>
      </tr>
    </tbody>
  </table>
</div>
