<header class="banner" role="banner">

  <nav class="navbar" role="navigation" aria-label="menu">

    <a class="logo" href="javascript:void(0)"><strong>Bloom</strong> Craft</a>


    <ul class="menu">
      <li class="dropdown">
        <a class="mainLink" href="javascript:void(0)">
          Men
          <!--SVG dropdown icon-->
          <svg class="icon" width="14" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z" />
          </svg>
        </a>
        <!--Start of Dropdown-->
        <div class="dropdown-div" style="display: none;">
          <ul class="dropdown-nav">
            <li class="outerList">
              <p class="p-2 mb-0 fs-6 fw-bold outerHead"> Topwear </p>
              <ul class="dropdown-inner-nav">
                <li class="innerList"><a href="javascript:void(0)" class="">Shirts</a></li>
                <li class="innerList"><a href="javascript:void(0)" class="">Sweaters</a></li>
              </ul>
            </li>
            <li class="outerList">
              <p class="p-2 mb-0 fs-6 fw-bold outerHead"> Bottomwear </p>
              <ul class="dropdown-inner-nav">
                <li class="innerList"><a href="javascript:void(0)" class="">Pants</a></li>
                <li class="innerList"><a href="javascript:void(0)" class="">Trousers</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="dropdown">
        <a class="mainLink" href="javascript:void(0)">
          Women
          <!--SVG dropdown icon-->
          <svg class="icon" width="14" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z" />
          </svg>
        </a>
        <!--Start of Dropdown-->
        <div class="dropdown-div" style="display: none;">
          <ul class="dropdown-nav">
            <li class="outerList">
              <p class="p-2 mb-0 fs-6 fw-bold outerHead"> Topwear </p>
              <ul class="dropdown-inner-nav">
                <li class="innerList"><a href="javascript:void(0)" class="">Kurtis</a></li>
                <li class="innerList"><a href="javascript:void(0)" class="">Tops</a></li>
              </ul>
            </li>
            <li class="outerList">
              <p class="p-2 mb-0 fs-6 fw-bold outerHead"> Bottomwear </p>
              <ul class="dropdown-inner-nav">
                <li class="innerList"><a href="javascript:void(0)" class="">Leggings</a></li>
                <li class="innerList"><a href="javascript:void(0)" class="">Trousers</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="dropdown">
        <a class="mainLink" href="javascript:void(0)">
          Kids
          <!--SVG dropdown icon-->
          <svg class="icon" width="14" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z" />
          </svg>
        </a>
        <!--Start of Dropdown-->
        <div class="dropdown-div" style="display: none;">
          <ul class="dropdown-nav">
            <li class="outerList">
              <p class="p-2 mb-0 fs-6 fw-bold outerHead"> Topwear </p>
              <ul class="dropdown-inner-nav">
                <li class="innerList"><a href="javascript:void(0)" class="">Shirts</a></li>
                <li class="innerList"><a href="javascript:void(0)" class="">Sweaters</a></li>
              </ul>
            </li>
            <li class="outerList">
              <p class="p-2 mb-0 fs-6 fw-bold outerHead"> Bottomwear </p>
              <ul class="dropdown-inner-nav">
                <li class="innerList"><a href="javascript:void(0)" class="">Pants</a></li>
                <li class="innerList"><a href="javascript:void(0)" class="">Trousers</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li><a class="mainLink" href="javascript:void(0)">Contact us</a></li>
    </ul>
  </nav>
</header>

<main>
  <div class="container mnwidth90plus py-3">
    <section class="sectionthree mb-2">
      <div class="container-fluid">
        <div class="card shadow-none">
          <div class="card-header bg-white d-flex justify-content-between">
            <h5 class="mb-0 fs-6">Male Topwear Collections</h5>
            <a href="javascript:void(0)" class="link-theme font600">See All <i class="bi bi-chevron-right"></i></a>

          </div>
          <div class="card-body">
            <div class="row row-cols-lg-5 row-cols-2">
              <div class="col mb-0 h-100"><a href="javascript:void(0)" class="text-decoration-none">
                  <div class="card shadow-none rounded-0">
                    <div class="product-img"><img alt="product_name"
                        src="https://5.imimg.com/data5/ANDROID/Default/2022/3/VX/VQ/IN/129039116/img-20220327-wa0039-jpg.jpg"
                        class="img-fluid"></div>
                    <div class="card-body">
                      <h4 class="mb-1 productprice">₹4990</h4>
                      <h6 class="font600 mb-1">Puma Shoes</h6>
                      <p class="font9 productdesc mb-0">This is just for the test description</p>
                    </div>
                  </div>
                </a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sectionthree mb-0">
      <div class="container-fluid">
        <div class="card shadow-none">
          <div class="card-header bg-white d-flex justify-content-between">
            <h5 class="mb-0 fs-6">Female Topwear Collections</h5>
            <a href="javascript:void(0)" class="link-theme font600">See All <i class="bi bi-chevron-right"></i></a>
          </div>
          <div class="card-body">
            <div class="row row-cols-lg-5 row-cols-2">
              <div class="col mb-0 h-100"><a href="javascript:void(0)" class="text-decoration-none">
                  <div class="card shadow-none rounded-0">
                    <div class="product-img"><img alt="product_name"
                        src="https://5.imimg.com/data5/ANDROID/Default/2022/3/VX/VQ/IN/129039116/img-20220327-wa0039-jpg.jpg"
                        class="img-fluid"></div>
                    <div class="card-body">
                      <h4 class="mb-1 productprice">₹4990</h4>
                      <h6 class="font600 mb-1">Puma Shoes</h6>
                      <p class="font9 productdesc mb-0">This is just for the test description</p>
                    </div>
                  </div>
                </a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>